body {
    text-align: center !important;
    width: 600px;
    margin:auto !important;
}

td {
    padding-top: 2px !important;
    padding-right: 7px !important;
}

table {
    margin: auto;
    text-align:center;
}

label {
    font-weight: 100 !important;
}

input:disabled+label {
    color:#ccc;
}

.group{
    margin: 5px;
    padding: 3px;
    border: solid 1px cadetblue;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.spoilerLink {
    color: black !important;
    text-decoration: none !important;
}

.spoilerLink:hover {
    cursor: pointer !important;
    color: brown !important;
    text-decoration: none !important;
}

.canvasControl {
    margin-top: 10px;
    margin-bottom: 5px;
}


.canvasControl td {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    border-left: solid #bcbcbc 1px;
    border-right: solid #bcbcbc 1px;
}


.stateCanvas {
    border: solid 1px black;
}

.autDisplay {
    margin:15px;
}

.btn-primary {
    color: cadetblue;
    border-radius: 10px;
}

.nav-tabs > li > a {
    background-color: #eeeeee;
    color: cadetblue;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-right:0px !important;
    margin-left:2px !important;
}

.nav-tabs > li > a:hover {
    background-color: brown !important;
    color: white !important;
}

.nav-tabs > li.active > a{
    color: brown !important;
    background-color: white !important;
}

.resultHead {
    clear:both;
}

.split1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.split2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#input {
    margin-top:30px;
}

#inputInner {
    width : 60%;
    margin: auto;
}

#inputPrompt {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 8px;
}

.inputElement {
    width: 90%;
    margin-bottom: 3px;
    padding: 4px;
}

#options {
    text-align: center;
    margin-top: 10px;
}

#options > table {
    width: 100%;
    margin: 10px;
}

#optionShowHide {
    font-size: 10pt;
}

#result .collapsing {
    -webkit-transition: none;
    transition: none;
}

#error {
    border: solid red 1px;
    margin: 10px;
    padding: 5px;
    color: brown;
}

#error p {
    font-family: monospace;
}